@charset "utf-8";
// variables
// -------------------------
$brand-primary: #246eaf !default;
$gray-light: #999 !default;

// global header
// -------------------------
.header {
  height: 80px;
  line-height: 80px;
  background-color: #fff;
  .logo {
    float: left;
    background: url(../images/logo.png) no-repeat 0 15px;
    width: 343px;
    height: 80px;
    padding: 15px 0;
  }
  .navbar{
    float: right;
    margin-bottom: 0;
    a {
      margin-left: 20px;
      text-decoration: none;
    }
    a.navbar-link {
      color: #7a8791;
      text-decoration: none;
      padding: 32px 0;
      &:hover {
        color: darken(#7a8791, 30%);
      }
    }
    a.active {
      color: $brand-primary;
      border-bottom: 3px solid $brand-primary;
      padding-bottom: 29px;
      &:hover {
        color: $brand-primary;
      }
    }
    .navbar-last {
      margin-right: 40px;
    }
  }
}

// footer
// -------------------------
.footer, .footer-main {
  color: $gray-light;
  padding: 20px 0;
  text-align: center;
}

.footer {
  color: #ccc;
}
